* {
    box-sizing: border-box;
}

:root {
    --purple: #5280E2;
    --green: #15CDCB;
    --bg-dark: #212226;
    --light-grey: #E0DEDE;
    --menu-height: 75px;
}

html,
body {
    margin: 0;
    background-color: var(--bg-dark);
}

body,
button,
input,
select,
textarea {
    font-family: Poppins;
    color: white;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 24px;
}

p {
    color: var(--light-grey);
}

button {
    background: var(--purple);
    border: 0;
    border-radius: 16px;
    padding: 8px 35px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

header {
    display: flex;
    align-items: center;
    height: calc(100vh - var(--menu-height));
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .container img {
    display: none;
}

header .container h1 {
    color: var(--green);
}

header .container button {
    margin-top: 38px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--menu-height);
    padding: 0 48px;
    position: sticky;
    top: 0;
    background-color: var(--bg-dark);
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

nav img {
    height: 45px;
}

nav ul a {
    text-decoration: none;
    color: var(--green);
    font-size: 24px;
}

nav ul a svg {
    display: none;
}

section {
    height: 1500px;
    background-color: purple;
}


/* responsividade */

@media (max-width: 1000px) {
    header .container {
        width: 100%;
    }
    nav {
        padding: 20px;
    }
    nav ul a {
        font-size: 20px;
    }
}


/* tablet */

@media (max-width: 767px) {
    header .container {
        width: 100%;
    }
    header .container img {
        display: inline;
        width: 100px;
        margin-bottom: 60px;
    }
    nav {
        padding: 0;
    }
    nav img {
        display: none;
    }
    nav ul {
        padding: 10px;
    }
    nav ul a {
        font-size: 16px;
    }
}


/* celular */

@media (max-width: 480px) {
    header .container {
        /* width: 100%; */
        padding: 0 40px;
    }
    nav ul a {
        font-size: 12px;
    }
    nav ul a svg {
        display: block;
        margin: 0 auto 10px;
    }
}